body            {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather',serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #3F979B;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    color: #3F979B;
    

}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #3F979B;
}
.irritating:hover{
    background-color: gold;
}
.text{
    color: #40514E;
}
hr{
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 6px;
    width: 5%;
    margin-top: 100px;
    
}
a{
    text-decoration: none;
    color: #40514E;
}
.myskills{
    text-align: center;
}
.topcontainer{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    
}
.image1{

}
.image2{
    
}
.middlecontainer
{
   padding: 50px;
}
.bottomcontainer{
   position: relative;
   background-color: #66BFBF;
   height: 200px;
}

.skill-row1{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row2{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.image1{
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 30px;
}
.image2{
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}

.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 400px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}
.default{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.bold{
    font-weight: 900;
}
.btn {
    background: #34d9c3;
    background-image: -webkit-linear-gradient(top, #34d9c3, #2980b9);
    background-image: -moz-linear-gradient(top, #34d9c3, #2980b9);
    background-image: -ms-linear-gradient(top, #34d9c3, #2980b9);
    background-image: -o-linear-gradient(top, #34d9c3, #2980b9);
    background-image: linear-gradient(to bottom, #34d9c3, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 70px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.footer-link1{
    position: relative;
    top: 40px;
    right: 80px;  
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.footer-link2{
    position: relative;
    top: 40px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.footer-link3{
    position: relative;
    top: 40px;
    left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.copyright{
    color: #EAF6F6;
    text-align: center;
    position: relative;
    top: 60px;
    
}
.contact-me{
    margin: 100px 200px 100px 200px;
}
